button{
    background-color: white;
    border: 2px solid #29ce29;
    padding: 0.4rem;
}

button:hover{
    background-color: #eeeeee;
}

.buttons{
    width: 80%;
    margin: 1rem 10%;
    display: flex;
    justify-content: space-around;

}